.warn-icon{
    color: #E3006E;
}
.modal-body input,.modal-body select{
    height: 50px;
}
.form-inline{
    margin-bottom: -10px;
}
.modal-footer button{
    border: 1px solid #2A8356;
}
.btn-cancel{
    color: #2A8356;
}
.btn-cancel:hover{
    background-color:#2A8356;
    color: white;
}
.btn-add{
    color: white;
    background-color: #2A8536;
}
.btn-add:hover{
    color: white;
}
.Deactivate-btn{
    border: 1px solid #E3006E;
}
.btn-deactivate{
    color: #E3006E;
    border: 1px solid #E3006E;
}